<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('dashboard.index') }}">CRUD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2 {{ 'active' if request.path.split('/')[1] == 'dashboard' else '' }}"
                        aria-current="page" href="{{ url_for('dashboard.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    {% if request.path.split('/')[1] == 'users' %}
                    <a class="nav-link mx-2 active" href="{{ url_for('users.index') }}">Users</a>
                    {% else %}
                    <a class="nav-link mx-2" href="{{ url_for('users.index') }}">Users</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 {{ 'active' if request.path.split('/')[1] == 'products' else '' }}"
                        href="{{ url_for('products.index') }}">Products</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ session['username'] }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="{{ url_for('users.change_password') }}">Change Password</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>