{% extends 'template/index.html' %}

{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-7">
            <h1>Register Page</h1>


            <form action="{{ url_for('auth.registered') }}" method="post">
                {{ form.csrf_token }}
                {{ form.name.label }} {{ form.name(size=20) }}
                {% if form.name.errors %}
                <span style="color: red;">{{ form.name.errors[0] }}</span>
                {% endif %}

                <br>

                {{ form.username.label }} {{ form.username(size=20) }}
                {% if form.username.errors %}
                <span style="color: red;">{{ form.username.errors[0] }}</span>
                {% endif %}

                <br>

                {{ form.email.label }} {{ form.email(size=20) }}
                {% if form.email.errors %}
                <span style="color: red;">{{ form.email.errors[0] }}</span>
                {% endif %}

                <br>

                {{ form.password.label }} {{ form.password(size=20) }}
                {% if form.password.errors %}
                <span style="color: red;">{{ form.password.errors[0] }}</span>
                {% endif %}

                <br>

                {{ form.confirm_password.label }} {{ form.confirm_password() }}
                {% if form.confirm_password.errors %}
                <span style="color: red;">{{ form.confirm_password.errors[0] }}</span>
                {% endif %}
                <br>
                {{ form.submit() }}
                <a class="btn btn-secondary" href="{{ url_for('auth.index') }}">Login</a>
            </form>

        </div>
    </div>
</div>

{% endblock %}