<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
</head>

<body>
    <h1>Update Product</h1>
    <form action="{{ url_for('product.update', id=data.data.id) }}" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="{{ data.data.name }}">
        <br>
        <label for="price">Price:</label>
        <input type="text" name="price" id="price" value="{{ data.data.price }}">
        <br>
        <label for="stock">Stock:</label>
        <input type="text" name="stock" id="stock" value="{{ data.data.stock }}">
        <br>
        <label for="users">Users:</label>
        <select name="user_id" id="user_id">
            {% for d in data.users %}
            {% if d.id == data.data.user_id %}
            <option selected value="{{ d.id }}">{{ d.username }}</option>
            {% else %}
            <option value="{{ d.id }}">{{ d.username }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <br>
        <button type="submit">Update</button>
    </form>
</body>

</html>