<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
</head>

<body>
    <h1>Update Product</h1>
    <form action="{{ url_for('product.update', id=data.id) }}" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="{{ data.name }}">
        <br>
        <label for="price">Price:</label>
        <input type="text" name="price" id="price" value="{{ data.price }}">
        <br>
        <label for="stock">Stock:</label>
        <input type="text" name="stock" id="stock" value="{{ data.stock }}">
        <br>
        <button type="submit">Update</button>
    </form>
</body>

</html>