<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
</head>

<body>
    <h1>Update Product</h1>
    <form action="{{ url_for('products.update', id=data.data.id) }}" method="post">
        {{ form.csrf_token }}
        {{ form.name.label }} {{ form.name(value=data.data.name) }}
        {% if form.name.errors %}
        <span style="color: red;">{{ form.name.errors[0] }}</span>
        {% endif %}
        <br>
        {{ form.price.label }} {{ form.price(value=data.data.price) }}
        {% if form.price.errors %}
        <span style="color: red;">{{ form.price.errors[0] }}</span>
        {% endif %}
        <br>
        {{ form.stock.label }} {{ form.stock(value=data.data.stock) }}
        {% if form.stock.errors %}
        <span style="color: red;">{{ form.stock.errors[0] }}</span>
        {% endif %}
        <br>
        <label for="users">Users:</label>
        <select name="user_id" id="user_id">
            {% for d in data.users %}
            {% if d.id == data.data.user_id %}
            <option selected value="{{ d.id }}">{{ d.username }}</option>
            {% else %}
            <option value="{{ d.id }}">{{ d.username }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <br>
        {{ form.submit() }}
        <a href="{{ url_for('products.index') }}">Back</a>
    </form>
</body>

</html>