<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
</head>

<body>
    <h1>Create Product</h1>
    <form action="{{ url_for('products.create') }}" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="price">Price:</label>
        <input type="text" name="price" id="price">
        <br>
        <label for="stock">Stock:</label>
        <input type="text" name="stock" id="stock">
        <br>
        <label for="users">Users:</label>
        <select name="user_id" id="user_id">
            {% for d in data.users %}
            <option value="{{ d.id }}">{{ d.username }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Create</button>
    </form>
</body>

</html>