<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
</head>

<body>
    <h1>Create Product</h1>
    <form action="{{ url_for('products.create') }}" method="post">
        {{ form.csrf_token }}
        {{ form.name.label }} {{ form.name() }}
        {% if form.name.errors %}
        <span style="color: red;">{{ form.name.errors[0] }}</span>
        {% endif %}
        <br>
        {{ form.price.label }} {{ form.price() }}
        {% if form.price.errors %}
        <span style="color: red;">{{ form.price.errors[0] }}</span>
        {% endif %}
        <br>
        {{ form.stock.label }} {{ form.stock() }}
        {% if form.stock.errors %}
        <span style="color: red;">{{ form.stock.errors[0] }}</span>
        {% endif %}
        <br>
        <label for="users">Users:</label>
        <select name="user_id" id="user_id">
            {% for d in data.users %}
            <option value="{{ d.id }}">{{ d.username }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Create</button>
    </form>
</body>

</html>