{% extends 'template/index.html' %}

{% block content %}
<h1>Change Password</h1>
<form action="" method="post">
    <input type="hidden" name="_method" value="PUT" />
    {{ form.csrf_token }}
    {{ form.old_password.label }} {{ form.old_password() }}
    {% if form.old_password.errors %}
    <span style="color: red;">{{ form.old_password.errors[0] }}</span>
    {% endif %}
    <br>

    {{ form.password.label }} {{ form.password() }}
    {% if form.password.errors %}
    <span style="color: red;">{{ form.password.errors[0] }}</span>
    {% endif %}
    <br>

    {{ form.confirm_password.label }} {{ form.confirm_password() }}
    {% if form.confirm_password.errors %}
    <span style="color: red;">{{ form.confirm_password.errors[0] }}</span>
    {% endif %}
    <br>

    {{ form.submit() }}
    <a href="{{ url_for('users.index') }}">Back</a>
</form>
{% endblock %}