{% extends 'template/index.html' %}

{% block content %}
<h1>Users</h1>
<a href="{{ url_for('users.new') }}">Create User</a>
<ul>
    {% for d in data.data %}
    <!-- {{ d.username|e }} -->
    <!-- {{ d.username|safe }} -->
    <li>{{ d.username }} - {{ d.roles.title }} - {{ d.email }} - {{ d.products }}
        <a href="{{ url_for('users.edit', id=d.id) }}">Edit</a>
        <form action="{{ url_for('users.delete', id=d.id) }}" method="post" style="display:inline;">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form.csrf_token }}
            <button type="submit">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>

<h1>Data Student</h1>
<ul>
    {% for d in students %}
    <li>{{ d.name }}
    </li>
    {% endfor %}
</ul>



{% endblock %}