{% extends 'template/index.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-7">
            <h1>New User</h1>
            <form action="{{ url_for('users.create') }}" method="post" enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ form.name.label }} {{ form.name(size=20) }}
                {% if form.name.errors %}
                <span style="color: red;">{{ form.name.errors[0] }}</span>
                {% endif %}

                <br>

                {{ form.username.label }} {{ form.username(size=20) }}
                {% if form.username.errors %}
                <span style="color: red;">{{ form.username.errors[0] }}</span>
                {% endif %}

                <br>
                <!-- jadi ketimpa class yang udah di set di UserForm() form.email(class_="input") -->
                {{ form.email.label }} {{ form.email() }}
                {% if form.email.errors %}
                <span style="color: red;">{{ form.email.errors[0] }}</span>
                {% endif %}
                <br>

                {{ form.password.label }} {{ form.password() }}
                {% if form.password.errors %}
                <span style="color: red;">{{ form.password.errors[0] }}</span>
                {% endif %}
                <br>

                {{ form.image.label }}<br>
                {{ form.image() }}<br>
                {% for error in form.image.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
                <br>

                {{ form.role_id.label }}
                {{ form.role_id(class_="form-control") }}
                {% if form.role_id.errors %}
                <span style="color: red;">{{ form.role_id.errors[0] }}</span>
                {% endif %}
                <br>
                {{ form.submit() }}
                <a class="btn btn-secondary" href="{{ url_for('users.index') }}">Back</a>
            </form>

        </div>
    </div>
</div>
{% endblock %}