<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.title }}</title>
</head>

<body>
    <div class="container text-light">
        <div class="row">
            <div class="col-12 mt-3 text-center">
                <h1 style="font-size: 60px;" class="text-danger">400</h1>
                <h4>Oops! Token is required</h4>
                <a href="{{ url_for('main.index') }}">
                    <p>Click Here
                </a>To go to the Home Page</p>
            </div>
        </div>
    </div>
</body>

</html>