{% extends 'template/index.html' %}

{% block content %}
<h1>Products</h1>
<a href="{{ url_for('products.new') }}">Create Product</a>
<ul>
    {% for d in data.data %}
    <li>{{ d.name }} - ${{ d.price }} (Stock: {{ d.stock }}) (User: {{ d.user.username }})
        <a href="{{ url_for('products.edit', id=d.id) }}">Edit</a>
        <form action="{{ url_for('products.delete', id=d.id) }}" method="post" style="display:inline;">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form.csrf_token }}
            <button type="submit">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>




{% endblock %}