<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.title }} | FLASK</title>
    <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">
    {% block head %} {% endblock %}
</head>

<body class="">


    <!-- { % include "template/topbar.html" % } -->
    {% block content %} {% endblock %}


    {% with messages = get_flashed_messages(category_filter=["message"]) %}
    {% if messages %}
    <script>
        alert('{{ messages[0] }}')
    </script>
    {% endif %}
    {% endwith %}

    {% block script %} {% endblock %}
</body>

</html>